extends layout

block content
  table#t_zoushi.hq_tb.mt20
    tr
      each item in model.titles
        th= item
    tr
      td.no_td 间隔
      td
        - for (var i = 0; i < jgarr.length; i ++)
            td.cblue.fw= jgarr[i]
    each item in data
      tr(name1=item.name1, name2=item.name2, name3=item.name3)
        td.no_td= item.no
        td.cred= item.val
        - for (var i = 0; i < model.titles.length - 2; i ++)
            td(name=model.titles[i + 2])
  div.other
    table
      tr
        each item in model.otherItems
          td= item
      tr
        each item in otherItems
          td.cblue.fw= item